node_modules/
bower_components/

src/public/assets/*.min.css
src/public/assets/*.min.js

src/public/fonts/*.eot
src/public/fonts/*.svg
src/public/fonts/*.woff
src/public/fonts/*.woff2
src/public/fonts/*.otf
src/public/fonts/*.ttf

src/public/webfonts/*.eot
src/public/webfonts/*.svg
src/public/webfonts/*.woff
src/public/webfonts/*.woff2
src/public/webfonts/*.otf
src/public/webfonts/*.ttf

package-lock.json
