<div class="row">

    <div class="">&nbsp;

        <button class="btn btn-sm btn-primary pull-left" title="" data-ng-click="back()">
            <i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Volver
        </button>

        <button class="btn btn-sm btn-primary pull-right" title="" data-ng-click="save()">
            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Guardar
        </button>

        <div class="col-md-3">
            <input data-ng-model="machine.name" type="text" class="form-control" placeholder="Nombre de la maquina"></input>
        </div>
        <hr>
    </div>

    <div style="width: 100%; height: 75%">
        <angular-vis style="width: 100%; height: 100%" data="networkData" options="networkOptions"
            events="networkEvents" id="mynetwork">
        </angular-vis>
    </div>

</div>
