<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>USER ERROR LOGIN</h1>

        <button class="btn btn-warning my-5" onclick="volver()">VOLVER</button>
    </div>
</div>

<script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 

    function volver() {
        console.log('volver');
        redireccionar('/')
    }
</script>
