<!DOCTYPE html>
<html lang="es">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

      <div class="container my-5">

        <h1>SIGNUP</h1>
        <br>
        <form class="form" role="form" action="/signup" method="post" autocomplete="off">

          <div class="form-group">
              <input name='username' placeholder="Nombre" class="form-control" type="text" required>
          </div>
          <div class="form-group">
              <input name='password' placeholder="Password" class="form-control" type="password" required>
          </div>

          <br>

          <div class="form-group">
            <input name='firstName' placeholder="firstname" class="form-control" type="text" required>
          </div>

          <div class="form-group">
            <input name='lastName' placeholder="lastname" class="form-control" type="text" required>
          </div>

          <div class="form-group">
            <input name='email' placeholder="email" class="form-control" type="email" required>
          </div>

          <div class="form-group">
            <input class="btn btn-success my-3" type="submit" value="Singup">
          </div>
        </form>

      </div>
  </div>

</body>

</html>

