<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de datos a PDF</title>
</head>

<body>

    <h2>Ingrese Persona</h2>
    <form action="/api/datos" method="POST">
        Nombre: <input type="text" name="nombre">
        Apellido: <input type="text" name="apellido">
        Edad: <input type="text" name="edad">
        <button>Enviar</button>
    </form>

</body>

</html>