<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
</head>

<body>

    <h2>Nombre:</h2>
    <p>
        <%= nombre %>
    </p>

    <h2>Apellido:</h2>
    <p>
        <%= apellido %>
    </p>

    <h2>Edad:</h2>
    <p>
        <%= edad %>
    </p>

</body>

</html>